
.icon-mail-circled:before { content: '\e800'; } /* '' */
.icon-pinterest:before { content: '\e801'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */